/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/

  
  /*===== Font weight =====*/
  
  /*===== Colors =====*/
  
  /*===== Font and typography =====*/
  
  /*===== Margenes =====*/
  
  /*===== z index =====*/
  


/*===== BASE =====*/


/*===== CLASS CSS ===== */


/*===== LAYOUT =====*/


/*===== NAV =====*/


/*=== Show menu ===*/


/*Active menu*/


/*===== HOME =====*/


/*BUTTONS*/


/* ===== ABOUT =====*/


/* ===== SKILLS =====*/


/* ===== EDUCATION =====*/


/* ===== SERVICES =====*/


/* ===== PROJECT IN MIND  =====*/


/* ===== WORKS =====*/


/* ===== CONTACT =====*/


/* ===== FOOTER =====*/


/* ===== MEDIA QUERIES=====*/